@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  max-width: 1200px;
  min-height: 100vh;
}
.container {
  max-width: 95%;
  margin: 0 9.375rem;
  display: flex;
  border-radius: 10px;

}

.card-container {
  background-color: hsl(31, 77%, 52%);
  width: 18.75rem;
  height: 31.25rem;
  padding: 45px;
  text-align: left;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.second-card {
  background-color: hsl(184, 100%, 22%);
  border-radius: 0;
}
.third-card {
  background-color: hsl(179, 100%, 13%);
 border-radius: 0px 7px 7px 0px;
}
h3 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
}
.main-content {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 1.5;
}
.btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 17px;
  width: 9.375rem;
  height: 3.125rem;
  border: none;
  border-radius: 30px;
  color: transparent;
  background-color: #fff;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
}
.btn_1{
color: hsl(31, 77%, 52%);
}
.btn_2{
  color: hsl(184, 100%, 22%);
}
.btn_3{
  color:hsl(179, 100%, 13%) ;
}
img {
  margin-bottom: 36px;
}
p {
  margin-bottom: 85px;
}




@media (max-width:49em){
  .container {
    flex-wrap: wrap;
  }
  .first-card {
   
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
  }
  
  .third-card {
  
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
  }
 
}
